.navbar{
    color: white;
    background-color: black;
    padding: 10px 10px;
    
}

.menu{
    color: white;
    margin-right: 20px;
    text-decoration: none;
}
.menu-active{
    font-weight: bold;
    text-decoration: underline;

}